body {
  font-family: Arial;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.done span {
  text-decoration: line-through;
  color: gray;
}
